* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  background-image: url(.././img/background.jpg);
}
.hero .navigation {
  padding: 2.8125rem 7% 0 7%;
}
.hero .navigation .brand {
  width: 12.5rem;
  cursor: pointer;
}
.hero .navigation .menu {
  background-color: #191919;
  width: 15.625rem;
  padding: 2rem 1.25rem;
  position: absolute;
  right: 0;
  top: 4.375rem;
  z-index: 9999;
  display: none;
}
@media (min-width: 1200px) {
  .hero .navigation .menu {
    background-color: transparent;
    width: auto;
    padding: 0;
    position: inherit;
    display: block;
  }
}
.hero .navigation .menu__item {
  list-style: none;
  padding: 0 1.5625rem;
}
@media (min-width: 1200px) {
  .hero .navigation .menu__item {
    display: inline-block;
  }
}
.hero .navigation .menu__item a {
  color: rgba(255, 255, 255, 0.7019607843);
  text-decoration: none;
  font-size: 1.0625rem;
  letter-spacing: 0.1875rem;
}
.hero .navigation .menu__item a:hover {
  color: #ffffff;
  transition: 0.3s;
}
.hero .navigation .menu__open-menu {
  transition: all 0.5s ease;
  display: block;
}
.hero .navigation .button {
  display: none;
  background-color: #191919;
  padding: 12px 20px;
  border: 1px solid #191919;
  color: rgba(255, 255, 255, 0.7019607843);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.4375rem;
}
.hero .navigation .button:hover {
  background-color: transparent;
  color: #191919;
  transition: 0.4s;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .hero .navigation .button {
    display: block;
  }
}
.hero .navigation__mobile-icon {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 1.5625rem !important;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .hero .navigation__mobile-icon {
    display: none;
  }
}
@media (max-width: 599px) {
  .hero .navigation {
    display: block;
  }
}
@media (min-width: 1200px) {
  .hero .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.hero .content {
  text-align: center;
  padding-top: 6.5625rem;
}
@media (max-width: 599px) {
  .hero .content {
    padding-top: 5rem;
  }
}
@media (min-width: 1200px) {
  .hero .content {
    padding-top: 6.5625rem;
  }
}
@media (min-width: 1800px) {
  .hero .content {
    padding-top: 6.5625rem;
  }
}
.hero .content__title {
  color: rgba(255, 255, 255, 0.7019607843);
  letter-spacing: 0.625rem;
  font-weight: 500;
  margin-bottom: 0.625rem;
}
@media (max-width: 599px) {
  .hero .content__title {
    font-size: 1rem;
  }
}
@media (min-width: 600px) {
  .hero .content__title {
    font-size: 1.4375rem;
  }
}
.hero .content__subtitle {
  color: #ffffff;
  letter-spacing: 1.5625rem;
  font-weight: 900;
  text-transform: uppercase;
}
@media (max-width: 599px) {
  .hero .content__subtitle {
    font-size: 2.75rem;
  }
}
@media (min-width: 600px) {
  .hero .content__subtitle {
    font-size: 6rem;
  }
}
@media (min-width: 1200px) {
  .hero .content__subtitle {
    font-size: 7rem;
  }
}
@media (min-width: 1800px) {
  .hero .content__subtitle {
    font-size: 11.25rem;
  }
}
.hero .content__info {
  width: 100%;
  z-index: 99;
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 1.125rem;
  line-height: 2rem;
  display: block;
  position: absolute;
  bottom: 1.875rem;
}
.hero .content__info__text {
  text-align: center;
}
.hero .content__info .button {
  background-color: rgba(255, 255, 255, 0.7019607843);
  padding: 12px 20px;
  border: 1px solid rgba(255, 255, 255, 0.7019607843);
  color: #191919;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.4375rem;
}
.hero .content__info .button:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7019607843);
  transition: 0.4s;
  cursor: pointer;
}
.hero .main-image {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12.5rem;
}
@media (max-width: 599px) {
  .hero .main-image {
    top: 55%;
  }
}
@media (min-width: 900px) {
  .hero .main-image {
    width: 15.625rem;
    top: 85%;
  }
}
@media (min-width: 600px) {
  .hero .main-image {
    width: 30.875rem;
  }
}
@media (min-width: 1200px) {
  .hero .main-image {
    width: 16rem;
    top: 65%;
  }
}
@media (min-width: 1800px) {
  .hero .main-image {
    width: 21.875rem;
    top: 65%;
  }
}/*# sourceMappingURL=main.css.map */